:root {
  --color-primary-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-dark: #2e2f42;
  --color-success: #31d0aa;
  --color-text: #434455;
  --color-subtle-text: #8e8f99;
  --color-accent: #e7e9fc;
  --color-light: #f4f4fd;
  --color-white-background: #ffffff;
  --color-modal-background: #fcfcfc;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol {
  margin: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  background-color: var(--color-white-background);
}
img {
  display: block;
  max-width: 100%;
}
.link {
  text-decoration: none;
  padding-left: 0;
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.logo-font {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--color-primary-brand);
}

.logo-right {
  color: var(--color-dark);
}

.logo-right-invert {
  color: var(--color-light);
}

.header-link {
  display: inline-block;
  color: var(--color-dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}

.header-link:hover,
.header-link:focus {
  color: var(--color-pressed-state);
  text-decoration: underline;
}

.header-address {
  font-style: normal;
}

.header-address-link {
  display: inline-block;
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding: 24px 0;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--color-pressed-state);
}
.header-style {
  border-bottom: 1px solid var(--color-accent);
}
.nav-style {
  display: flex;
  align-items: center;
}
.logo-header {
  margin-right: 76px;
}
.menu-style {
  display: flex;
  gap: 40px;
}
.address-style {
  display: flex;
  gap: 40px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.hero {
  color: var(--color-white-background);
  background-color: var(--color-dark);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
}
.hero-title {
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;

  max-width: 496px;
  margin: 0 auto 48px auto;
}
.hero-button {
  display: block;
  color: inherit;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background: var(--color-primary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--color-pressed-state);
}
.section-title {
  text-align: center;
  color: var(--color-dark);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.advantage-box-title {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 8px 0;
}

.advantage-box-text {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.advantage-card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.advantage-item {
  flex-basis: calc((100% - 72px) / 4);
}
.advantage-section {
  padding: 120px 0;
}
.box-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.box-item {
  flex-basis: calc((100% - 48px) / 3);
}
.box-section {
  padding-bottom: 120px;
}
.team {
  background-color: var(--color-light);
  padding: 120px 0;
}

.team-card-title {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-card-style {
  background-color: var(--color-white-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  padding-bottom: 8px;
}

.team-card-subtitle {
  padding: 32px 0;
}
.team-card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.team-card-item {
  flex-basis: calc((100% - 72px) / 4);
}
.portfolio-text {
  color: var(--color-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-style {
  background-color: var(--color-dark);
  padding: 100px 0;
}
.footer-paragraph {
  color: var(--color-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.portfolio-title {
  color: var(--color-dark);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.portfolio-link-button {
  font-family: inherit;
  color: var(--color-primary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--color-accent);
  background: var(--color-light);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
}
.portfolio-link-button:hover,
.portfolio-link-button:focus {
  color: var(--color-white-background);
  background: var(--color-pressed-state);
  border: 1px solid transparent;
}

.portfolio-card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
}

.portfolio-subtitle {
  border: 1px solid var(--color-accent);
  padding: 32px 16px;
  border-top: none;
}
.portfolio-section {
  padding: 96px 0 120px 0;
}

.portfolio-button-group {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.castomers-card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.castomers-item {
  flex-basis: calc((100% - 120px) / 6);
}
.castomers-item:hover,
.castomers-item:focus {
  color: var(--color-pressed-state);
}

.castomers-section {
  padding: 120px 0;
}
.castomers-box {
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--color-subtle-text);
  width: 168px;
  height: 88px;
  fill: var(--color-subtle-text);
  flex-shrink: 0;
}
.castomers-box:hover,
.castomers-box:focus {
  border-color: var(--color-pressed-state);
  fill: var(--color-pressed-state);
}
.advantage-box {
  /*border: 1px solid var(--color-subtle-text);*/
  border-radius: 4px;
  background: var(--color-light);
  padding: 24px 100px;
}

.line::after {
  background-color: #404bbf;
  height: 4px;
  width: 48px;
  border-radius: 2px;
  content: '';
}
.team-social-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 16px;
}
.team-social-item {
  fill: var(--color-primary-brand);
}
.team-social-item:hover,
.team-social-item:focus {
  fill: var(--color-pressed-state);
}
